*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-size:62.5%;
    font-family: 'Josefin Sans', sans-serif;
   }
   body{
    width:90vw;
    height:100vh;
    background-color: burlywood;

   }
.about{
    font-size:5em;
}
.btn{
    width:10em;
    height:1.7em;
    font-size:5em; 
    margin-bottom: .5em;
 }
 
.blocks{
      padding-top:-3em;
    /* padding-left:78em;  */
    padding-bottom:5em;  
   

}
.points{
    display:none;
    font-size:8em;

    /* padding-left:9.3em; */
   
}

.hello{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
}

@media only screen and (max-width: 400px) {
    .blocks {
      box-sizing: border-box;
      width:350px;
      height:350px;
    }
}